.calculator-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .calculator-container {
    flex-direction: row;
  }
}

.calculator-input {
  margin-top: 5px;
  margin-right: 0px;
}

.calculator-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.calculator-cell label {
  display: inline-flex;
}

.calculator-cell .result {
  display: inline-flex;
  margin-right: 0px;
  justify-content: flex-start;
}

@media (min-width: 576px) {
  .calculator-cell {
    margin-bottom: 0px;
  }
  .calculator-input {
    margin-right: 20px;
  }
  .calculator-cell .result {
    justify-content: flex-end;
  }
}
